/configstore
/hub
/git-annex
/git/credentials
/gtk-2.0/
/secrets
/htop/
/keybase/
/autostart/
/Atom/
/Electron/
/Epic/
/Ethereum Wallet/
/Gigantum/
/JetBrains/
/Keybase/
/Meltytech/
/QtProject.conf
/Slack/
/Trolltech.conf
/Unknown Organization/
/akregatorrc
/asciinema/
/balena-etcher-electron/
/baloofilerc
/beets/
/bluedevilglobalrc
/cef_user_data/
/chromium/
/compiz-1/
/dconf/
/discoverrc
/dolphinrc
/emaildefaults
/enchant/
/eog/
/evince/
/evolution/
/filetypesrc
/gcloud/
/gedit/
/ghb/
/gnome-control-center/
/gnome-initial-setup-done
/goa-1.0/
/google-chrome/
/gtk-3.0/
/gtkrc
/gtkrc-2.0
/guvcview2/
/gwenviewrc
/ibus/
/kactivitymanagerd-statsrc
/kactivitymanagerdrc
/kateschemarc
/kazam/
/kconf_updaterc
/kdeconnect/
/kded5rc
/kdeglobals
/kdenlive-appimage/
/kglobalshortcutsrc
/khotkeysrc
/kinfocenterrc
/kmixrc
/konsolerc
/kscreenlockerrc
/ksmserverrc
/ktimezonedrc
/kwalletmanager5rc
/kwalletrc
/kwinrc
/kwinrulesrc
/kxkbrc
/libaccounts-glib/
/libreoffice/
/menus/
/mimeapps.list
/nautilus/
/nvim-qt/
/oni/Cache/
/oni/Cookies
/oni/Cookies-journal
/oni/GPUCache/
/oni/Local Storage/
/oni/Preferences
/oni/QuotaManager
/oni/QuotaManager-journal
/oni/Service Worker/
/oni/Settings
/oni/databases/
/plasma-localerc
/plasma-nm
/plasma-org.kde.plasma.desktop-appletsrc
/plasmanotifyrc
/plasmarc
/plasmashellrc
/powerdevilrc
/powermanagementprofilesrc
/pulse/
/remmina/
/rstudio/
/session/
/spectaclerc
/spotify/
/systemsettingsrc
/totem/
/transmission/
/trashrc
/ubuntu-ui-toolkit/
/unity/
/unity3d/
/user-dirs.dirs
/user-dirs.locale
/vlc/
/xsettingsd/
/zoomus.conf
/wslu/
/1Password/
/BraveSoftware/
/Zulip/
/arkrc
/baloofileinformationrc
/discord/
/drkonqirc
/elisarc
/google-chrome-beta/
/google-chrome-unstable/
/kaccess.notifyrc
/kaccessrc
/katemetainfos
/katerc
/katevirc
/kde.org/
/kdialogrc
/kgpgrc
/kiorc
/korgacrc
/krunnerrc
/ksslcertificatemanager
/microsoft-edge-dev/
/okularpartrc
/okularrc
/partitionmanagerrc
/rasa/
/signond/
/vivaldi-snapshot/
/vivaldi/
/Code/
/Logseq/
/OmniDB/
/Paradigma Software, Inc./
/ParadigmaSoft/
/Visual Studio Live Share/
/electron/
/fvim/
/gh/
/kfontinstuirc
/kfontviewrc
/kwin_rules_dialogrc
/print-manager
/KDE/
/device_automounter_kcmrc
/drata-agent/
/fcitx5/
/fontconfig/
/gtk-4.0/
/helm/
/k9s/
/kactivitymanagerd-pluginsrc
/kactivitymanagerd-switcher
/kcmfonts
/kcminputrc
/kdedefaults/
/latte/
/lattedockrc
/microsoft-edge/
/mozc/
/muonrc
/nextjs-nodejs/
/pavucontrol-qt/
/plasma.emojierrc
/plasma_workspace.notifyrc
/pypoetry/
/systemmonitorrc
/tabletprofilesrc
/touchpadxlibinputrc
/wacomtablet-kderc
/xdg-desktop-portal-kderc
/kate/
/vlcrc
/kcmshell5rc
/ktorrent_infowidgetrc
/ktorrentrc
/RStudio/
/kgammarc
/skanliterc
